.cardsContainer {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; */
  /* row-gap: 40px;
  column-gap: 20px; */
  /* margin: 32px 24px 32px 24px; */
}

.gallery-container {
  /* Or any other desired minimum height */
}

.card {
  /* border-radius: var(--border-radius); */
  /* display: flex;
  flex-direction: column; */
  /* transition: all 0.3s; */
  /* width: 400px;
  height: 400px; */
  /* position: relative; */
}

.card img {
  /* height: 90%;
  width: 100%; */
}

@media only screen and (max-width: 480px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    margin-top: 160px;
  }

  .card {
    width: 290px;
    height: 294px;
  }
}

@media only screen and (max-width: 850px) {
  .cardsContainer {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    margin-top: 160px;
  }
}
@media only screen and (max-width: 850px) and (min-width: 651px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    margin-top: 160px;
  }
  .card {
    width: 290px;
    height: 294px;
  }

  .cardImage {
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 230px;
    border-radius: var(--border-radius);
  }

  .cardImage img {
    width: 300px;
  }
}

@media only screen and (max-width: 1260px) and (min-width: 851px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
z-index: 0;
